h1.hero-text-title {
  position: relative;
  display: inline-block;
}

h1.hero-text-title:after {
  content: '+';
  color: #00cf00;
  position: absolute;
  font-weight: bold;
  right: 35;
}

.results-table td.plus {
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 3px solid #e2001a;
  padding-right: 10px;
  min-width: 60px;
  color: black;
  font-weight: bold;
  background-image: url(https://raw.githubusercontent.com/partyzans/app/master/extension/favicon/android-icon-16x16.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 5px center;
}

.results-table td.ok {
  background: rgba(0, 128, 0, 0.3);
}
.results-table td.check {
  background: rgba(255, 165, 0, 0.3);
}
.results-table td.critical {
  background: rgba(255, 0, 0, 0.3);
}

.results-table tr.active td,
.results-table tr.active td i,
.results-table tr.included i {
  font-weight: bold;
}

.results-table td {
  color: black;
}

.results-table td.wrong {
  position: relative;
  display: block;
}
.results-table td.wrong:after {
  content: '🚫';
  position: absolute;
  left: 50%;
  right: 50%;
}
.results-table td.medium {
  position: relative;
  display: block;
}
.results-table td.medium:after {
  content: '❔';
  position: absolute;
  left: 50%;
  right: 50%;
}
.results-table td.super {
  position: relative;
  display: block;
}
.results-table td.super:after {
  content: '✅';
  position: absolute;
  left: 50%;
  right: 50%;
}
