h1.hero-text-title {
  position: relative;
  display: inline-block;
}

h1.hero-text-title:after {
  content: '+';
  color: #00cf00;
  position: absolute;
  font-weight: bold;
  right: 35;
}

.results-table td.plus {
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  border-bottom: 3px solid #e2001a;
  padding-right: 10px;
  min-width: 60px;
  color: black;
  font-weight: bold;
  background-image: url(https://raw.githubusercontent.com/partyzans/app/master/extension/favicon/android-icon-16x16.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
